<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549657351342-ei1r3vkr8erns8kvofq7tpmnrkrus0n7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549657351342-ei1r3vkr8erns8kvofq7tpmnrkrus0n7</string>
	<key>API_KEY</key>
	<string>AIzaSyAeRa_xox25mkEVDUV9ocYe7byIwxf7wWI</string>
	<key>GCM_SENDER_ID</key>
	<string>549657351342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.digitalsociety.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>digital-society-a2433</string>
	<key>STORAGE_BUCKET</key>
	<string>digital-society-a2433.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549657351342:ios:e11f0beaa9f9149eb3893f</string>
</dict>
</plist>